.container {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.title {
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flex-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
}


#slider {
    text-align: center;
}

#slider {
    margin: 0 auto;
}

#slides article {
    width: 20%;
    float: left;
}

#slides .image {
    width: 500%;
}

#overflow {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
}

article img {
    width: 100%;
    border-radius: 10px;
}

.text {
    font-size: 24px;
    text-align: left;
    padding-top: 1rem;
    width: 80%;
    margin: 0;
}

#desktop:checked~#slider {
    width: 100%;
}

label,
a {
    cursor: pointer;
}

.flex-wrapper input {
    display: none;
}

.image {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#switch1:checked~#slides .image {
    margin-left: 0;
    margin-bottom: 3rem;
}

#switch2:checked~#slides .image {
    margin-left: -100%;
    margin-bottom: 3rem;
}

#switch3:checked~#slides .image {
    margin-left: -200%;
    margin-bottom: 3rem;
}

#switch4:checked~#slides .image {
    margin-left: -300%;
    margin-bottom: 3rem;
}

#switch5:checked~#slides .image {
    margin-left: -400%;
    margin-bottom: 3rem;
}

#controls {
    width: 100%;
}

#active label {
    border: 5px solid #fff;
    border-radius: 100px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}

#active {
    width: 100%;
    text-align: end;
    margin: -10% 0 0 0;
}

#active label:hover {
    background: #76c8ff;
    border: 5 px solid #777 !important;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5) {
    background: #18a3dd;
}

#slides .image {
    transition-timing-function: ease-in-out;
    transition-duration: 1.5s;
}

#slides .text {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}

#controls label:hover {
    opacity: 0.6;
}

#controls label {
    transition: opacity 0.2s ease-out;
}

@media screen and (max-width: 1088px) {
    .container {
        width: 70vh;
    }

    #active {
        margin: -13% 0 0 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 60vh;
    }

    #active {
        text-align: center;
    }

    #active {
        margin: -24% 0 0 0;
    }

    #slides .text {
        margin-top: 3rem;
    }

    .text {
        width: 100%;
    }
}

@media screen and (max-width: 668px) {
    .container {
        width: 50vh;
    }

    #active {
        margin: -28% 0 0 0;
    }
}

@media screen and (max-width: 568px) {
    .container {
        width: 40vh;
    }

    #active {
        margin: -42% 0 0 0;
    }

    #slides {
        width: 100%;
    }
}

@media screen and (max-width: 468px) {
    .container {
        width: 35vh;
    }

    .title {
        width: 60%;
        text-align: center;
    }

    #active {
        margin-top: -46%;
    }
}

@media screen and (max-width: 389px) {
    .container {
        width: 30vh;
    }

    .title {
        font-size: 1.7rem;
    }

    #active {
        margin: -65% 0 0 0;
    }
}